{% extends 'sidebar.html'%}
{% block content %}
{% load static%}

    
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6  text-light p-5  mt-4" style="background:rgba(0,0,0,0.75);box-shadow: 10px 10px 4px black; border-radius: 20px;">
      <h3 class="text-center">Change Password</h3>
      <div class="mt-3 mb-3 ">
        <p class="text-danger">{{error}}</p>
        <p class="text-success">{{succ}}</p>


        <form action="" method="POST">
        {% csrf_token %}
  <label for="exampleFormControlInput1" class="form-label ">Old Password</label>
  <input required type="password" class="form-control " id="exampleFormControlInput1"name="old" placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" >
</div>
<div class="mb-3 ">
  <label for="exampleFormControlTextarea1" class="form-label ">New Password</label>
  <input required type="password" class="form-control ms-auto me-auto" id="exampleFormControlTextarea1" name="new" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" ></input>
</div>
<div class=" mb-3 ">
  <label for="exampleFormControlTextarea1" class="form-label ">Re-Enter Password</label>
  <input required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  type="password"class="form-control" id="exampleFormControlTextarea1" name="cpw"></input>
</div>
  <div class="text-center mt-5 ">
       <button class="btn btn-primary text-light" type="submit">Set Password</button>
  </div>

</form>
</div>
    </div>
    <div class="col-md-4"></div>
  </div>  
       
{% endblock%}
