
        <!doctype html>
        <html>
          <head>
            <!-- Place your kit's code here -->
            <script src="https://kit.fontawesome.com/d10df8ae4d.js" crossorigin="anonymous"></script>
          </head>

          <body>
            <div class="container-fluid" ><p style="color:white">
           <i class="fa-sharp fa-regular fa-circle-g " ></i>
           <i class="fa fa-sharp fa-regular fa-circle-g fa-sm" style="color: #fdca12;"></i>
          </div>
          </body>
        </html>
        