{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'icofont/icofont.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
    <style type="text/css">
    	h1{color: white}
    	h2{color: #e1b12c;}
      h3{color:white; padding-top: 10%}
      h4{color:white}
      h5{color:white}

      p{color :white; padding-top: 10%}
      i{color: #e1b12c}

      i:hover{color: white;}
      span{color:white; padding-top: 10}
    	.container{background-color: #273c75; max-width: 100%}
      img{width: 300px}
      ul{list-style: none;}
      li:hover{color: #e1b12c;}
    </style>
</head>

<body>
 

<div class="container">
	<div class="row">
      <div class="col-lg-3 col-md-6  col-12 col">
         
         <h1><img src={%static "images/Gimmigrate-Logo123.png" %} class="mt-4 "></img></h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation.</p>
 
 <p class="pt-5"><i class="icofont-facebook text-light  icofont-2x "></i>     
                 <i class="icofont-twitter text-light   icofont-2x me-2"  ></i>     
                 <i class="icofont-instagram text-light icofont-2x me-2"></i>
                 <i class="icofont-linkedin text-light  icofont-2x me-2"></i>
                 <i class="icofont-youtube text-light   icofont-2x "></i></p>
        

       </div>
      <div class="col-lg-3 col-md-6  col-12 ">
         <h2 class="mt-5">Quick links</h2>
         <ul class="pt-5">
    <li><i>></i> <span>  Home      </span><br></li>
    <li><i>></i> <span>  About us  </span><br></li>
    <li><i>></i> <span>  Visa Types</span><br></li>
    <li><i>></i> <span>  Country   </span><br></li>
    <li><i>></i> <span>  Blogs     </span></li>
  </ul>
         
      </div>
      <div class="col-lg-3 col-md-6  col-12 ">
           <h2 class="mt-5">Visa Types</h2>
         <ul class="pt-5">
    <li><i>></i> <span>  Toursist Visa     </span><br></li>
    <li><i>></i> <span>  Study Visa        </span><br></li>
    <li><i>></i> <span>  Famly Visa        </span><br></li>
    <li><i>></i> <span>  Diplomatic visa   </span><br></li>
    <li><i>></i> <span>  Transit Visa      </span></li>
  </ul>
      </div>
      <div class="col-lg-3 col-md-6  col-12 ">
         <h2 class="mt-5">Information</h2>
         <div class="row">
      <div class="col-sm-1 mt-3 mb-4 me-3">
        <i class="icofont-4x icofont-phone mt-3 mb-2"></i>
      </div>
      <div class="col-sm-8 ms-4 mb-2">
       <p class="fs-5"><span style="color:#e1b12c">Phone</span><br>
        +123-456-789 </p>
      </div>
     </div>

     <div class="row">
      <div class="col-sm-1 mt-4 mb-4 me-3">
        <i class="icofont-4x icofont-email mt-3 mb-2 "></i>
      </div>
      <div class="col-sm-8 ms-4 mb-2">
       <p class="fs-5"><span style="color:#e1b12c">Email</span><br>
        hello@awesomesite.com</p>
      </div>
     </div>
    
  
    <div class="row">
      <div class="col-sm-1 mt-3 mb-4 me-3">
        <i class="icofont-5x icofont-location-pin mt-3 mb-2"></i>
      </div>
      <div class="col-sm-8 ms-4 mb-2">
       <p class="fs-5"><span style="color:#e1b12c">Address</span><br>
        abc street, xyz city, mno city </p>
      </div>
     </div>

  </div>   
</div>

</body>
</html>

<!--- footer --->
