{% extends 'sidebar.html'%}
{% block content %}
{% load static%}
<div class="container">
<div class="row">

<div class="col-md-2"></div>


<div class="col-md-8">
<form method="POST" action="" style="background:rgba(38,49,115,0.70);border-radius:20px" class="p-3">
   {% csrf_token %}

   <h1 class="text-center pt-2 pb-2 fs-2"style="background:rgba(255,250,250,0.80);border-radius: 20px;color:#273c75; text-shadow:0px 0px 4px black"> Gross National Income of a Country for all years</h1>
   <label class=" mt-3 mb-1 text-light">Select a Country</label>
	<select required class="form-select" name="country"aria-label="Default select example">
  <option selected value="">Select Country</option>
  <option value="Australia">Australia</option>
  <option value="Austria">Austria </option>
  <option value="Bangladesh">Bangladesh</option>
  <option value="Bermuda">Bermuda</option>
  <option value="Bhutan">Bhutan</option>
  <option value="Brazil">Brazil</option>
  <option value="Canada">Canada</option>
  <option value="Chile">Chile</option>
  <option value="China">China</option>
  <option value="Denmark">Denmark</option>
  <option value="Egypt">Egypt</option>
  <option value="European Union">European Union</option>
  <option value="France">France</option>
  <option value="Germany">Germany</option>
  <option value="Hungary">Hungary</option>
  <option value="India">India</option>
  <option value="Ireland">Ireland</option>
  <option value="Italy">Italy</option>
  <option value="Japan">Japan</option>
  <option value="Maldives">Maldives</option>
  <option value="Mauritius">Mauritius</option>
  <option value="Nepal">Nepal</option>
  <option value="Netherland">Netherland</option>
  <option value="New Zealand">New Zealand</option>
  <option value="Philippines">Philippines</option>
  <option value="Poland">Poland</option>
  <option value="Qatar">Qatar</option>
  <option value="Russia">Russia</option>
  <option value="South Korea">South Korea</option>
  <option value="Spain">Spain</option>
  <option value="United Arab Emirates">United Arab Emirates</option>
  <option value="United States">United States</option>
  

  

</select>
<center>
<button class="btn btn-primary mt-3" type="submit">Submit</button>
</center>
</form>
</div>
<div class="col-md-2"></div>
</div>
</div>
<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5">
{% if graph %}
{{ graph|safe }}
{% endif %}
</div>
    <div class="col-md-2"></div>

</div>
{% endblock %}