{% extends 'sidebar.html'%}
{% block content %}
{% load static%}
<div class="container">
<div class="row text-center">

<div class="col-md-2"></div>


<div class="col-md-8">
<form method="POST" action="" style="background:rgba(38,49,115,0.70);border-radius:20px" class="p-3">
    {% csrf_token %}
  <h1 class="text-center pt-2 pb-2 fs-2"style="background:rgba(255,250,250,0.80);border-radius: 20px;color:#273c75; text-shadow:0px 0px 4px black"> Human Development Index of  Countries for a year</h1> 
	<label class="text-light mt-3 mb-1">Select a Year</label>
       <select required class="form-select"name="year" aria-label="Default select example">
  <option selected value="">Select Year</option>
  <option value="2001">2001</option>
  <option value="2002">2002</option>
  <option value="2003">2003</option>
  <option value="2004">2004</option>
  <option value="2005">2005</option>
  <option value="2006">2006</option>
  <option value="2007">2007</option>
  <option value="2008">2008</option>
  <option value="2009">2009</option>
  <option value="2010">2010</option>
  <option value="2011">2011</option>
  <option value="2012">2012</option>
  <option value="2013">2013</option>
  <option value="2014">2014</option>
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  
  
</select>
<center>
<button class="btn btn-primary mt-3" type="submit">Analysis</button>
</center>
</form>
</div>
<div class="col-md-2"></div>
</div>
</div>
<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
{% if graph %}
{{ graph|safe }}
{% endif %}
</div>
    <div class="col-md-2"></div>

</div>
{% endblock %}