{% extends 'base.html' %}
{% block content %}
{% load static%}
<style type="text/css">
	h1{
		color: #273c75;
	}
	p{
		text-align: justify;
		padding-top: 2px;
		padding-bottom: 10px;
	}
	hr{
		border-width: 5px;
		color: yellow;
	}
	.a2{
		text-decoration: none;
	}
	.a2:hover{color:#e1b12c !important}
	}
</style>

	 <div class="row text-center" style=" background:url({%static 'images/i3.jpg'%});background-size: cover; height: 500px">
    <div class="" style="background:rgba( 38,49,115,0.50);">
     <div class=""><h1 style="font-size: 90px;font-weight: bold; color: white;margin-top: 90px; margin-bottom: 30px"><center>IELTS</center></h1>
     <center> <h4 class="text-white">Home / IELTS</h4></center></div>	
     </div></div>  
    
 <div class="container">
 	<div class="row border-start ">
 		<div class="col-md-7">
 			
        <img src="{%static 'images/i6.jpg' %}"class="border mt-5" height="500px" style="width:800px; border-radius:20px; box-shadow:5px 5px 5px 5px dimgrey ;">
 		<h1 class="m-3">IELTS (International English Language Testing System)</h1>
<p><b>IELTS</b></p>
<p>
The International English Language Testing System is an international standardized test of English language proficiency for non native English language speakers who aspire to study or work in an English speaking country. An IELTS result is issued to all test takers with a score from band 1 to band 9. <br>
IELTS is available in two versions that are IELTS academic and IELTS general training. Both versions endow with an applicable and precise assessment of Listening, Reading, Writing and Speaking. It is pre requisite for the selection process in world’s top most universities and colleges.
</p>
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Features Of Training Program</h2>
<ul style="list-style-type:disc;">
<li>Tailor made Product</li>
<li>Well designed syllabus and planner execution</li>
<li> latest Course Content which is changed after three months</li>
</ul>
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">FREE Orientation Session</h2>
<p>The day you join us, we will provide you with a Briefing session to make you familiar with the running status of the class.</p>

<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Detailed Discussion for Every Module Each Day</h2>
<p>
In the 4 modules practice every day, R and L will be done with post analysis wherein W and S with Pre and Post analysis both.</p>

<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Personal Attention</h2>
<p>If your score does not improve or if you could not comprehend in the class.</p>

<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Vocabulary Session</h2>
<ul style="list-style-type:disc;">
<li>includes Thematic Vocabulary to enhance your linguistic range</li>
<li>activities based solely on vocabulary to make it fun and easy to memorize</li>
<li>specific vocabulary to score 7 Plus band in writing and speaking</li>
<li>revision of vocabulary everyday</li></ul>
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">ERP Assess for Online Testing</h2>
<p>provides a student with login ID and a password to get tips n techniques, question solving and a lot more of their interest.</p>
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Transparent Academic Planner</h2>

<p>
The designed syllabus gets reflected on the ERP .The student can clearly see the syllabus before entering the classroom.</p>


<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Free Special Sessions</h2>

<p>
To Bounce score by International Expert every month .</p>
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Mock Test Every Saturday</h2>

<ul style="list-style-type:disc;">
<li>you will get result and analysis of your mistakes on Monday.</li>
<li>you can analyze your level.</li></ul>


<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">
FREE IELTS Simulation Test with TRF Every Month and Get Free Analysis
	
</h2>
<ul style="list-style-type:disc;">
<li>Check your level that will save your IELTS fees of Rs.12100.</li>
<li>Get experience of Final IELTS exam in Simulation Test</li>
<li>Conducted by outsider invigilators.</li>
<li>Learn to cope up anxiety</li>
</ul>
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;"></h2>

FREE Visa Counseling
By Experts team You will undoubtedly get MINI AND MAIN GUIDE for your course option in any of the non native country.
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">FREE Personality Development Session</h2>
<p>Once in a month to enhance personality and strong communication skills.</p>
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Weekly Report Performance Card</h2>
<p>A report is created in class that will reflect the improvement of a student on weekly basis so that a student can plan for a test date as early as possible.</p>
<h2 style="color: #273c75;font-weight: bold;font-size: 20px;">Our Focused Training Programs</h2>
<p>
provide the candidates enough grounding to obtain high scores in IELTS.
</p>

<a href="{%url 'contact' %}" class="btn btn-warning text-light text-center mb-3">Contact Us</a>
</div>
 		
<div class="col-md-1"></div>

<div class="col-md-4 mt-5">
  <div class="card text-center" style="background:url({%static 'images/contact.jpg' %}); height:200px;background-size:cover ; border-radius:20px">
 <div class="m1 p-4" style="background:rgba(38,49,119,0.50);height:200px ;border-radius: 20px;">
    <h5 class=" text-light fs-3 m-1 pb-3" style="border-bottom: 3px groove yellow;">Need Visa Application?</h5>
    
    <a href="{% url 'contact'%}" class="btn btn-warning text-light m-3 p-2">CONTACT uS</a>
  
</div>
</div>

<div class="card mt-5 p-3" style="background-color: #273c75; border-radius:20px">
  <h2 class="ms-3 me-3 mt-2 pb-2 text-center" style="border-bottom: 3px groove yellow;">Test Preparation</h2>
 <ul class="">

<li><i class="icofont-rounded-double-right"></i> <a class="text-light fs-4  a2" href="{% url 'ilets'%}">IELTS</a></li>
<li><i class="icofont-rounded-double-right"></i> <a class="text-light fs-4  a2" href="{% url 'pte'%}">PTE</a></li>
<li><i class="icofont-rounded-double-right"></i> <a class="text-light fs-4  a2" href="{% url 'sat'%}" >SAT</a></li>
<li><i class="icofont-rounded-double-right"></i> <a class="text-light fs-4  a2" href="{% url 'spoken'%}">Spoken English</a></li>
</ul>
 </div> 





  
</div>
</div>
 	</div>
 </div>   




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

{% endblock %}