<div class="container" style="background-image: url('images/12.jpg');">
       <div class="row">
         <div class="col-md-4">
                <i class="icofont-student-alt icofont-4x" ></i>
              <h5>Satisfied Client<sub>+</sub></h5>

         </div>        
    








       </div>
</div>




<h2>Information</h2>
        <h3><i class="icofont-phone icofont-2x "></i>Phone</h3>
        <p class=" fs-5">+123-345-678</p>

        <h4><i class="icofont-email icofont-2x"></i>Email</h4>
        <p class="fs-5">hello@awesomesite.com</p>

        <h5><i class="icofont-location-pin icofont-2x"></i>Address</h5>
          <p class="fs-5">123block,xyx street,klmcity</p>